{% if page.highlighted %}
<!-- Start: highlighted -->
	<div class="highlighted block-section">
		<aside class="container" role="complementary">
			{{ page.highlighted }}
		</aside>
	</div>
<!-- End: highlighted -->
{% endif %}