<ul class="accordion" data-accordion data-allow-all-closed="true" role="tablist">
  {% for item in items %}
    <li class="accordion-item"  data-accordion-item >{{ item.content }}</li>
  {% endfor %}
</ul>
