{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
<ul class="branding menu">
  {% if site_logo %}
  <li>
    <a href="https://upei.ca" rel="home" class="site-logo">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    </a>
  </li>
  {% endif %}
  <li>
    <span class="site-name">
      <a href="/" title="Home" rel="home">Robertson<br>Library</a>
    </span>
  </li>
</ul>
{% endblock %}

