<div class="view view-current-library-hours view-id-current_library_hours view-display-id-block view-dom-id-c1257a75d471bb64393da1e13037bc91">
  <div class="view-content">
    <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
      <div class="views-field views-field-nothing">
        <span class="field-content">
          <a class="hours" href="/hours">
            Today's Hours
          </a>
        </span>
      </div>
      <div class="views-field views-field-field-weekly-hours">
        <div class="field-content">
          <a href="/hours">
            <span class="oh-wrapper">
              <span class="oh-display">
                <span class="oh-display-label" style="width: 3em;">Thu: </span>
                <span class="oh-display-times oh-display-hours oh-display-current">
                  8:00 am-8:00 pm
                  <br>
                </span>
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
