<div class="container">


  <div id="block-block-5" class="block block--block  block-block-5 block--block-5">
    <div class="block__content">
      <div class="footer-links bottom-links menu-01 bl-first">
        <h2 class="title">About the Library</h2>

        <ul class="menu">
          <li class="leaf first"><a href="/site-index" title="All basic pages on the site">Site Index</a></li>
          <li class="leaf"><a href="/libraryhistory">Library Mission/History</a></li>
          <li class="leaf"><a href="/contact">Contact</a></li>
          <li class="leaf"><a href="/people">Library Staff</a></li>
          <li class="leaf"><a href="/event-type/news">News</a></li>
          <li class="leaf"><a href="/gift">Donations</a></li>
          <li class="leaf"><a href="/policies">Policies</a></li>
          <li class="leaf"><a href="/visiting">Visitors</a></li>
          <li class="leaf"><a href="/units">Organization</a></li>
          <li class="leaf"><a href="/floorplans">Floor Plans</a></li>
          <li class="leaf"><a href="/hours">Hours</a></li>
          <li class="leaf"><a href="/feedback">Feedback</a></li>
        </ul>

        <h2 class="title">Students</h2>

        <ul class="menu">
          <li class="leaf"><a href="https://portal.upei.ca">MyUPEI</a></li>
          <li class="leaf"><a href="https://outlook.office.com/">Student Email</a></li>
          <li class="leaf"><a href="http://moodle.upei.ca">Moodle</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="block-block-7" class="block block--block  block-block-7 block--block-7">
    <div class="block__content">
      <div class="footer-links bottom-links menu-02">
        <h2 class="title">Using the Library</h2>

        <ul class="menu">
          <li class="leaf"><a href="/printing">Printing</a></li>
          <li class="leaf"><a href="/study_rooms">Study Rooms</a> | <a href="/quiet">Quiet Areas</a> | <a href="/study_zones">Zones Map</a></li>
          <li class="leaf"><a href="https://rooms.library.upei.ca/room_reservations">Book a Study Room</a></li>
          <li class="leaf"><a href="/reserves">Reserves</a></li>
          <li class="leaf"><a href="/wireless">Wireless Access</a></li>
          <li class="leaf"><a href="/scan">Scanning</a>/<a href="/printing/copylaminate">Copying</a></li>
          <li class="leaf"><a href="/forms">Forms</a></li>
          <li class="leaf"><a href="/loaning">Borrow/Renew/Return</a></li>
          <li class="leaf"><a href="/offcampus">Residence/Off-Campus Access</a></li>
          <li class="leaf"><a href="/computers">Computers&nbsp;</a> | <a href="/laptop/borrow">Laptops</a></li>
          <li class="leaf"><a href="https://library.upei.ca/equipment">Equipment for Checkout</a></li>
          <li class="leaf"><a href="/collaboratory">Multimedia/ Collaboratory</a></li>
          <li class="leaf"><a href="/languagelab">Language Lab</a></li>
          <li class="leaf"><a href="https://library.upei.ca/graduate">Graduate Student Services</a></li>
          <li class="leaf"><a href="/faculty">Faculty&nbsp;Services</a></li>
          <li class="leaf"><a href="/alumni">Alumni Services</a></li>
          <li class="leaf"><a href="/alumni/community">Community Services</a></li>
          <li class="leaf"><a href="/accessibility">Accessibility</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="block-block-9" class="block block--block  block-block-9 block--block-9">
    <div class="block__content">
      <div class="footer-links bottom-links menu-03">
        <h2 class="title">Research Help</h2>

        <ul class="menu">
          <li class="leaf"><a href="/onesearch_about">OneSearch</a></li>
          <li class="leaf"><a href="/refworks">RefWorks</a></li>
          <li class="leaf"><a href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&amp;direct=true&amp;custid=uprince&amp;db=edspub&amp;groupid=main&amp;profile=eds&amp;plp=1">Journal Titles</a></li>
          <li class="leaf"><a href="/ill">Interlibrary Loan</a></li>
          <li class="leaf"><a href="http://islandpines.roblib.upei.ca/">Catalogue</a></li>
          <li class="leaf first"><a href="/books">Find Books</a></li>
          <li class="leaf"><a href="/articles">Find Articles</a></li>
          <li class="leaf"><a href="/databases">Databases</a></li>
          <li class="leaf"><a href="/sg">Subject Guides</a></li>
          <li class="leaf"><a href="/subjectlibrarians">Subject Librarians</a></li>
          <li class="leaf"><a href="https://library.upei.ca/systematic-review">Systematic, Scoping, and Other Reviews</a></li>
          <li class="leaf"><a href="/askus">Ask Us Live Help</a></li>
          <li class="leaf"><a href="/tours">Tours, Tutorials, Quizzes</a></li>
          <li class="leaf"><a href="/citing_sources">Citing Sources</a></li>
          <li class="leaf"><a href="/copyright">Copyright Info</a></li>
          <li class="leaf"><a href="/peitips">PEI Collection</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="block-block-11" class="block block--block  block-block-11 block--block-11">
    <div class="block__content">
      <div class="footer-links bottom-links menu-04">
        <h2 class="title">PEI Collections</h2>

        <ul class="menu">
          <li class="leaf first"><a href="http://library.upei.ca/peicollection/archives">PEI Collection</a></li>
          <li class="leaf first"><a href="http://library.upei.ca/peicollection/archives#archives">University Archives</a></li>
          <li class="leaf"><a href="http://www.refworks.com/refshare2?site=035181146456000000/190-95-8SKCK711133224/PEIPAD">PEI Periodical Articles Database (PEI PAD)</a></li>
        </ul>

        <h2 class="title">Digital Collections</h2>

        <ul class="menu">
          <li class="leaf first"><a href="http://booklives.ca">BookLives</a></li>
          <li class="leaf first"><a href="http://bowingdownhome.ca/">Bowing Down Home</a></li>
          <li class="leaf first"><a href="http://islandscholar.ca/">IslandScholar</a></li>
          <li class="leaf"><a href="http://islandarchives.ca">Island Archives</a></li>
          <li class="leaf"><a href="http://islandlives.ca" title="PEI's local histories and related publications">Island Lives</a></li>
          <li class="leaf"><a href="http://islandvoices.ca">IslandVoices</a></li>
          <li class="leaf"><a href="http://islandimagined.ca" title="Digitized historical maps of PEI">IslandImagined</a></li>
          <li class="leaf"><a href="http://vre2.upei.ca/cap/">IslandNarratives</a></li>
          <li class="leaf"><a href="http://islandnewspapers.ca">IslandNewspapers</a></li>
          <li class="leaf"><a href="http://kindredspaces.ca">Kindred Spaces</a></li>
          <li class="leaf"><a href="http://www.peildo.ca/">PEI Documents Online</a></li>
          <li class="leaf"><a href="http://islandstories.ca/">Telling Island Stories</a></li>
          <li class="leaf"><a href="http://upei.cairnrepo.org/islandora/object/islandora%3A552">PEI Postcards</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="block-block-13" class="block block--block  block-block-13 block--block-13">
    <div class="block__content">
      <div class="footer-links bottom-links menu-05">
        <h2 class="title">Projects and Institutes</h2>

        <ul class="menu">
          <li class="leaf first"><a href="/vre">Virtual Research Environments</a></li>
          <li class="leaf first"><a href="https://data.upei.ca/">Research Data Management</a></li>
          <li class="leaf"><a href="http://islandora.ca/">Islandora</a></li>
          <li class="leaf"><a href="http://www.lmmontgomery.ca/">LMMI</a></li>
          <li class="leaf"><a href="http://library.upei.ca/ebm">Digitization Services and Facility</a></li>
          <li class="leaf"><a href="http://pressbooks.library.upei.ca/">Pressbooks&nbsp;- publishing platform</a></li>
        </ul>

        <h2 class="title">Connect with the Library</h2>

        <ul class="menu social-media">
          <li><a href="https://www.facebook.com/RobertsonLibrary"><i class="fa-brands fa-square-facebook"></i></a></li>
          <li><a href="https://twitter.com/UPEILibrary"><i class="fa-brands fa-square-twitter"></i></i></a></li>
          <li><a href="https://instagram.com/robertsonlibrary"><i class="fa-brands fa-square-instagram"></i></i></a></li>
        </ul>
        <a class="staff-tasks button success expanded" href="/staff_tasks">Staff Tasks</a></div>
    </div>
  </div>


</div>
