{%
  set classes = [
    'field',
    'subject_librarians',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

<div class="subject_librarians">
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
</div>
