<div class="subject_librarian__container">
  <a class="subject_librarian__link" href="{{ content.field_librarian_link[0]['#url'] }}">
    <div class="subject_librarian">
      <div class="subject_librarian__image">
	{{ content.field_librarian_image }}
      </div>
      <h4 class="subject_librarian__name">{{ content.field_librarian_name }}</h4>
      {{ content.field_librarian_subject }}
    </div>
  </a>
</div>



